label{color:black;margin-right: 15px;width: 100px;}
h1{color: red;text-align: center;}
h2{color:slateblue;}
body{background-color: rgb(182, 213, 248);}
button{color:tomato; background-color: yellow;size: 15px;}
#error{color:red;height: 15pt;}
#respuesta{color:rgb(134, 21, 240);}
